<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="Affordable and professional web design">
		<meta name="keywords" content="web design, affordable web design, professional web design">
		<meta name="author" content="13Wicked Dreamz">
		<title>WebApp New Layout | Welcome</title>
		<link href="style.css" rel="stylesheet" />
		
	</head>
	<body>
		<blockquote id="socialEmbed" class="twitter-tweet" data-theme="light">
			<p lang="und" dir="ltr">
			<a href="https://t.co/iGCFWyYUED">https://t.co/iGCFWyYUED</a>
			<a href="https://t.co/A7cVNH45qm">pic.twitter.com/A7cVNH45qm</a>
			</p>&mdash; IG: FFn_ CoopBihh (@BihhFfn) 
			<a href="https://twitter.com/BihhFfn/status/1143562433698684933?ref_src=twsrc%5Etfw">June 25, 2019</a>
		</blockquote>
		
		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</body>
</html>
